
<%= form_for [@post], :html => {:class => "form-horizontal"} do |f| %>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%= f.label :title %></label>
    <div class="col-sm-8">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label"><%= f.label :text %></label>
    <div class="col-sm-8">
      <%= f.text_area :text, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <input style="margin: 10px" class="form-control" type="text" name="tag[tagtext]" placeholder="tag" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "create", class: "btn btn-default btn-primary"  %>
    </div>
  </div>
<% end  %>
