<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @post.title %></h3>
      </div>
      <div class="panel-body">
        <p><%= @post.text %></p>
        <h6><% (@post.tags).each do |tag| %><span> #<%= tag.tagtext %></span><% end %></h6>
      </div>

      <div class="well">
        <p>Comments:</p>
        <% (@post.comments).each do |comment| %>
        <div>
          <span><%= comment.text %><span>
          <span> - <%= comment.author %></span>
          <div>---------------------------</div>
        </div>
        <% end %>
      </div>
    </div>



    <%= form_for [@post, @comment], :html => {:class => "form-horizontal"} do |f| %>
      <div class="form-group">
        <label class="col-sm-2 control-label"><%= f.label :text %></label>
        <div class="col-sm-8">
          <%= f.text_field :text, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"><%= f.label :author %></label>
        <div class="col-sm-8">
          <%= f.text_field :author, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "create", class: "btn btn-default btn-primary"  %>
        </div>
      </div>
    <% end  %>
